- if @is_admin
  - if @group.can_draw_names?
    = button_to "Draw names now", draw_group_path, remote: true, class: 'btn btn-success btn-large draw_names'
  .light
    - if @group.can_draw_names?
      Remember: you cannot invite any more people to the group after the names are drawn.
    - else
      The drawing can only start after everyone who was invited accepts the invitation.
  .draw-loading.hidden
    Drawing names...
    = image_tag 'loader.gif'
    %span May the odds be ever in your favor.
  .draw-done.hidden
    Done!
    = link_to 'Who did I get?', who_group_path(@group)
- else
  .light Waiting for group admin to draw names.