.row.full-width
  %h1= t('group_activity')
  .row.full-width
    .full-width.columns.left
      - if @activity.any?
        - @activity.each do |activity|
          = render 'activity', activity: activity
      - else
        .box
          .light
            = t('no_group_activity')