.row.full-width
  .section-header
    %h1 My groups
    .action
      = link_to '+ New group', new_group_path

  - @groups.each do |group|
    .box.group-about
      .info
        = link_to group.name, group_path(group)
        .item 
          .bold When
          = group.date
        .item 
          .bold Where
          = group.location
    %br