#footer.contain-to-grid
  .row.full-width
    %p
      Created by
      = link_to 'Flora Saramago', 'http://florasaramago.com'
      in 2015

    %p.language
      = link_to 'English', '#'
      |
      = link_to 'Português', '#'