#error_explanation {
  h2 {
    display: none;
  }

  ul {
    color: #ba4247;
  }
}

.field {
  em {
    color: #8D8D8D;
    display: inline;
    font-size: 13px;
  }
}

.login-side {
  padding: 1px 0 0 30px;

  a {
    img {
      height: 60px;
    }
  }
}