#footer {
  background-color: rgba(214, 191, 155, 0.34);
  color: rgba(148, 136, 123, 0.87);
  height: auto;
  min-height: 50px;
  margin-bottom: -20px;
  padding: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow:hidden;
  text-align: center;

  .row {
    .language {
      a {
        color: rgba(165, 130, 93, 0.87);
      }
    }
    
    .large-4 {
      width: 33.33%;
    }

    .social {
      text-align: left;

      a.github {
        color: rgba(165, 130, 93, 0.87);
        font-size: 14px;
        line-height: 35px;
        margin: 10px 0 0 3px;
      }
    }
  }
}