.group-about {
  min-height: 312px;
  overflow: hidden;
  position: relative;

  .info {
    color: #8D8D8D;
    display:inline-block;
    float:left;
    font-size: 17px;
    width: 100%;

    .item {
      display: block;
      margin-bottom:20px;
      overflow: hidden;
      width: 100%;

      .bold {
        color: rgb(199, 195, 195);
      }
    }

    .calendar {
      border: 1px solid #6B6060;
      border-radius: 4px;
      display: inline-block;
      float: right;
      height: 130px;
      text-align: center;
      width: 130px;

      .month {
        background-color: #ba4247;
        color: white;
        font-size: 19px;
        height: 30px;
      }

      .day {
        color: #6B6060;
        font-size: 40px;
        line-height: 71px;
      }

      .time {
        background-color: rgba(221, 221, 221, 0.18);
        border-top: 1px solid #6B6060;
        color: #6B6060;
        line-height: 27px;
      }
    }

    .side-info {
      display: inline-block;
      float: left;
      margin-left: 20px;
      max-width: 463px;

      p {
        margin-bottom: 10px;
      }
    }
  }
  .leave {
    bottom: 16px;
    float: right;
    font-size: 14px;
    position: absolute;
    right: 21px;
  }
}

.side {
  display:inline-block;
  float:right;

  #map {
    border: 1px solid #8D8D8D;
    height: 309px;
    margin-top: 3px;
    width: 312px;
    z-index: 10000;
  }
}

.section-header {
  overflow: hidden;

  h1 {
    display:inline;
    float:left;
    margin-bottom: 25px;
  }
}

.action {
  color:#00a39b;
  cursor: pointer;
  display:inline;
  float:right;
  font-size: 15px;
  line-height: 35px;
  text-decoration: underline;
}

.sliding-box {
  display:none;

  .close-sliding-box {
    display: inline;
    float: right;
    margin-top: -10px;
    width: auto;

    a {
      font-size: 14px;
    }
  }

  .invite-friend {
    margin-right: 20px;
    width: 220px;
  }

  .add-more {
    display:inline;
    float:left;
  }

  input[type=submit] {
    display:inline;
    float:right;
  }

  .error {
    color:#ba4247;
    margin-bottom: 25px;

    .error-title {
      font-weight: bold;
    }

    .error-list {
      font-size: 14px;
    }
  }

  .success {
    color:#608b32;
    margin-bottom: 25px;

    .success-title {
      font-weight: bold;
    }

    .success-list {
      font-size: 14px;
    }
  }
}

.members {
  margin-bottom: 25px;
  overflow: hidden;
  padding-left: 20px;

  .member {
    display: inline-block;
    float: left;
    margin: 0px 45px 40px 0;    
    text-align: center;
    width: 150px;
    
    .avatar {
      border: 4px solid white;
      border-radius: 4px;
      height: 123px;
      margin: auto;
      padding: 0;
      width: 120px;
      
      img {
        height: 100%;
        width: 100%;
        
      }
    }

    .name {
      margin-top: 10px;

      a {
        font-size: 15px;
      }
    }

    .status {
      color: #8D8D8D;
      display: inline;
      font-size: 14px;
    }

    .active {
      color: #6EBA1E;
    }

    .pending {
      color: #ba4247;
    }

    .edit {
      display: inline;
      font-size: 12px;
      margin-left: 5px;
    }

    .edit-member {
      box-shadow: 1px 0px 10px #C8C8C8;
      display: none;
      margin: auto;
      padding: 10px;
      position: absolute;
      width: 150px;

      p {
        margin-bottom: 4px;

        a {
          font-size: 13px;
        }
      }
    }
  }
}

.group-draw {
  form {
    display:inline;
    margin-right: 10px;
  }

  .draw-notice {
    color: #8D8D8D;
    display: inline;
    font-size: 14px;
  }

  .draw-loading {
    img {
      margin: 0 10px 0 10px;
    }

    span {
      color: #6EBA1E;
      display: inline;
      font-size: 14px;
    }
  }
}

.light {
  color: #8D8D8D;
  display: inline;
  font-size: 14px;
}

.clonable-field {
  float: left;

  label {
    display: inline;
  }

  .close {
    display: inline;
    float: right;

    a {
      text-decoration: none;
    }
  }
}

.calendar-small {
  border: 1px solid #6B6060;
  border-radius: 4px;
  display: inline-block;
  float:left;
  height: 117px;
  text-align: center;
  width: 120px;

  .month {
    background-color: #ba4247;
    color: white;
    font-size: 17px;
    height: 27px;
  }

  .day {
    color: #6B6060;
    font-size: 35px;
    line-height: 60px;
  }

  .time {
    background-color: rgba(221, 221, 221, 0.18);
    border-top: 1px solid #6B6060;
    color: #6B6060;
    line-height: 27px;
  }
}

#group_description {
  margin-bottom: 15px;
}

.xdsoft_datetimepicker {
  margin-left: 9px;
}

.xdsoft_current {
  background: #00a39b !important;
  box-shadow: #0f7d75 0 1px 3px 0 inset !important;
}

.xdsoft_current:hover {
  background: #00a39b !important;
  box-shadow: #0f7d75 0 1px 3px 0 inset !important;
}

.xdsoft_datetimepicker .xdsoft_label > .xdsoft_select.xdsoft_monthselect{ right: -7px }
.xdsoft_datetimepicker .xdsoft_label > .xdsoft_select.xdsoft_yearselect{ right: 2px }
.xdsoft_datetimepicker .xdsoft_label > .xdsoft_select > div > .xdsoft_option:hover {
  color: #fff;
  background: #0f7d75 !important;
}

.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box >div >div:hover {
  color: #fff !important;
  background: #0f7d75 !important;
  box-shadow: none !important;
}

.index-info {
  width: auto !important;
  max-width: 310px;

  p {
    font-size: 19px;
  }
}

.index-group-about {
  height: 240px !important;
  min-height: 240px !important;
}

.draw_done_button {
  margin: 15px 0;
  padding: 10px 20px !important;
}

.glow-button {
  box-shadow: none !important;
  -webkit-animation-name:glow;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-duration: 800ms;
}

.glow-button:hover {
  -webkit-animation: none;
}

@-webkit-keyframes glow {
  0% {
  }
  100% {
    -webkit-transform: scale(1.07);
    box-shadow: 0 0 0 5px rgba(91, 183, 91, 0.3);
  }
}

.group-form-submit {
  float: right;
  margin-top: 130px;
}