.group-about {
  overflow: hidden;

  .info {
    color: #8D8D8D;
    display:inline-block;
    float:left;
    font-size: 17px;

    .item {
      margin-bottom:20px;

      .bold {
        color: rgb(199, 195, 195);
      }
    }
  }

  .side {
    display:inline-block;
    float:right;

    .leave {
      float: right;
      font-size: 14px;
      margin: 10px 5px 0 0;
    }
  }
}

.section-header {
  overflow: hidden;

  h1 {
    display:inline;
    float:left;
    margin-bottom: 25px;
  }

  .action {
    color:#00a39b;
    cursor: pointer;
    display:inline;
    float:right;
    font-size: 15px;
    line-height: 35px;
    text-decoration: underline;
  }
}

.invitation-box {
  display:none;

  .close-invitation-box {
    display: inline;
    float: right;
    margin-top: -10px;
    width: auto;

    a {
      font-size: 14px;
    }
  }

  .invite-friend {
    margin-right: 20px;
    width: 220px;
  }

  .add-more {
    display:inline;
    float:left;
  }

  input[type=submit] {
    display:inline;
    float:right;
  }

  .error {
    color:#ba4247;
    margin-bottom: 25px;

    .error-title {
      font-weight: bold;
    }

    .error-list {
      font-size: 14px;
    }
  }

  .success {
    color:#608b32;
    margin-bottom: 25px;

    .success-title {
      font-weight: bold;
    }

    .success-list {
      font-size: 14px;
    }
  }
}

.members {
  margin-bottom: 25px;
  overflow: hidden;
  padding-left: 20px;

  .member {
    display: inline-block;
    float: left;
    margin: 0px 45px 40px 0;    
    text-align: center;
    width: 150px;
    
    .avatar {
      border: 4px solid white;
      border-radius: 4px;
      height: 123px;
      margin: auto;
      padding: 0;
      width: 120px;
      
      img {
        height: 100%;
        width: 100%;
        
      }
    }

    .name {
      margin-top: 10px;
    }

    .status {
      color: #8D8D8D;
      display: inline;
      font-size: 14px;
    }

    .active {
      color: #6EBA1E;
    }

    .pending {
      color: #ba4247;
    }

    .edit {
      display: inline;
      font-size: 12px;
      margin-left: 5px;
    }

    .edit-member {
      box-shadow: 1px 0px 10px #C8C8C8;
      display: none;
      margin: auto;
      padding: 10px;
      position: absolute;
      width: 150px;

      p {
        margin-bottom: 4px;

        a {
          font-size: 13px;
        }
      }
    }
  }
}

.group-draw {
  form {
    display:inline;
    margin-right: 10px;
  }

  .draw-notice {
    color: #8D8D8D;
    display: inline;
    font-size: 14px;
  }

  .draw-loading {
    img {
      margin: 0 10px 0 10px;
    }

    span {
      color: #6EBA1E;
      display: inline;
      font-size: 14px;
    }
  }
}

.light {
  color: #8D8D8D;
  display: inline;
  font-size: 14px;
}

.wishlist-item {
  .image {
    display: inline-block;
    float:left;

    img {
      width: 170px;
    }
  }

  .info {
    display: inline-block;
    float: left;
    margin-left: 20px;
    max-width: 250px;
  }

  .description {
    display: block;
    margin-bottom: 30px;
  }
}

.wishlist-item-fields {
  margin-bottom: 40px;
  width: 100%;
}

.clonable-field {
  float: left;

  label {
    display: inline;
  }

  .close {
    display: inline;
    float: right;

    a {
      text-decoration: none;
    }
  }
}
