#home {
  background: transparent image-url("home.jpg") no-repeat;
  background-size: cover;
  top: 60px;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .home-container {
    padding-top: 3%;

    h1.main {
      font-family: 'Coustard', 'Nunito', Helvetica;
      font-size: 45px;
      margin-bottom: 15%;
    }
  }  
}