body {
  background: #FFF image-url("grain.png") repeat;
  font-family: 'Avenir Next';

  li, a {
    background:transparent !important;
  }

  .box {
    background-color: white;
    padding: 20px;
  }

  h1 {
    color: #fd284b;
    font-size: 22px;
    font-family: 'Avenir Next';
  }

  #contents {
    margin-top: 50px;
  }
}