@media screen and (max-width: 700px) {
  .full-width {
    width: 90%;
  }

  .bread {
    margin-top: 10px !important;
    width: 90%;
  }

  h1.rudolph {
    a {
      img {
        max-width: 150%;
      }
    }
  }

  h1.main {
    font-size: 25px !important;
    margin-bottom: 20px !important;
  }

  .home-container {
    .right {
      width: 100% !important;

      .box.right {
        padding: 13px !important;
      }
    }

    .facebook {
      margin-bottom: 20px !important;
    }
  }

  .has-dropdown {
    display: none;
  }

  .top-bar .toggle-topbar.menu-icon {
    display: none;
  }

  .top-bar .title-area {
    display: inline-block;
  }

  .top-bar-section {
    display: inline-block;
    float: right;
    margin-right: 15px;
    overflow: hidden;

    .right {
      li {
        width: auto;

        .logged-user {
          display: inline-block;
          float: right;
          width: auto;
        }
      }
    }
  }

  .group-about {
    .info {

      .item {
        margin-bottom: 0;

        a {
          line-height: 40px;
        }

        .calendar {
          height: 104px;
          margin-bottom: 15px;
          width: 110px;

          .month {
            font-size: 17px;
            height: 27px;
          }

          .day {
            font-size: 27px;
            line-height: 50px;
          }

          .time {
            font-size: 15px;
          }
        }
      }

      .side-info {
        margin-left: 0;
      }
    }
  }

  .side {
    display: block;
    float: none;
    margin: auto;

    #map {
      height: 250px;
      margin: auto;
      text-align: center;
      width: 80%;
    }
  }

  .members {
    padding-left: 0;

    .member {
      display: inline-block;
      margin-right: 22px;
      width: auto;

      .name {
        font-size: 90%;
      }
    }
  }

  .draw-notice {
    .light {
      display: block;
      margin-top: 15px;
    }
  }

  .index-group-about {
    .side {
      display: none;

      .calendar {
        display: none;
      }
    }

    .index-info {
      .item {
        margin-bottom: 10px;
      }
    }
  }

  .xdsoft_datetimepicker {
    border: none !important;
  }

  .xdsoft_timepicker {
    margin: 15px auto 0 auto !important;
  }

  .group-form-submit {
    margin-top: 10px;
  }

  .add-more {
    margin-bottom: 20px;
  }

  .reveal-modal, dialog {
    min-height: 100px;
    margin-left: 4%;
  }

  #wishlist_description {
    height: 180px;
  }

  #confidential {
    .row {
      .sticker {
        background: rgba(255, 235, 170, 0.86) !important;
        border-radius: 3px !important;
        font-family: courier !important;
        height: auto !important;
        margin-top: 10% !important;
        max-width: 100% !important;
        overflow: hidden !important;
        padding: 10px !important;
        position: relative !important;
        width: 95% !important;
        font-size: 14px !important;
        margin-left: 8px !important;
      }
    } 
  }

  .who-description {
    width: 90%;

    .photo {
      display: block !important;
      float: none !important;
      margin: auto !important;

      img {
        width: 100% !important;
      }
    }

    .text {
      margin-left: 0;
    }
  }
}