@media screen and (max-width: 700px) {
  .full-width, .bread {
    width: 90%;
  }

  h1.rudolph {
    a {
      img {
        max-width: 150%;
      }
    }
  }

  .top-bar .toggle-topbar.menu-icon {
    display: none;
  }

  .top-bar .title-area {
    display: inline-block;
  }

  .top-bar-section {
    display: inline-block;
    overflow: hidden;
    float: right;
    margin-right: 15px;

    .right {
      li {
        width: auto;

        .logged-user {
          width: auto;
          float: right;
          display: inline-block;
        }
      }
    }
  }

  .group-about {
    .info {

      .item {
        margin-bottom: 0;

        .calendar {
          margin-bottom: 15px;
        }
      }

      .side-info {
        margin-left: 0;
      }
    }
  }

  .side {
    display: block;
    float: center;
    float: none;
    margin: auto;

    #map {
      width: 80%;
      text-align: center;
      margin: auto;
    }
  }

  .members {
    .member {
      text-align: left;
      width: 100%;

      .avatar {
        display: inline-block;
      }

      .member-data {
        display: inline-block;
        vertical-align: top;
        margin-left: 10px;
      }
    }
  } 
}