#confidential {
  background: transparent image-url("cork.png") repeat;
  height: 100%;
  margin-top: -50px;

  img {
    float: right;
    margin-right: 10%;
    padding-top: 12%;
  }

  .row {
    .sticker {
      background: rgba(255, 235, 170, 0.86);
      border-radius: 3px;
      font-family: courier;
      height: auto;
      margin-top: 10%;
      max-width: 30%;
      overflow: hidden;
      padding: 20px;
      position: absolute;
      width: auto;

      .show-me {
        margin-top: 15px;
        text-align: center;

        a {
          color: rgb(199, 49, 49);
        }
      }
    }
  }
}

#who {
  .row {
    .photo {
      border: 7px solid white;
      border-radius: 4px;
      display: inline-block;
      float: left;
      margin: auto;
      padding: 0;
    }

    .text {
      display: inline-block;
      float: left;
      margin-left: 15px;
    }
  }
}