#confidential {
  margin-top: -50px;
  background: transparent image-url("cork.png") repeat;
  height: 100%;

  img {
    float: right;
    margin-right: 10%;
    padding-top: 12%;
  }

  .row {
    .sticker {
      width: auto;
      max-width: 30%;
      height: auto;
      background: rgba(255, 235, 170, 0.86);
      margin-top: 10%;
      position: absolute;
      border-radius: 3px;
      padding: 20px;
      font-family: courier;
      overflow: hidden;

      .show-me {
        text-align: center;
        margin-top: 15px;

        a {
          color: rgb(199, 49, 49);
        }
      }
    }
  }
}